ion-content{
ion-toolbar {
  --padding-bottom: 100px;
  --padding-top: 50px;
  --padding-start: 8px;

  overflow: visible;

  ion-icon {
    font-size: 48px;
  }
  h2 {
    margin: 0;
    font-size: 28px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: capitalize;
    color: #ffffff;
  }

}

  .info {
    padding-top: 7px;
    h3{
      font-size: 18px;
      color: #686868;
      margin: 28px 0 0;
      font-weight: 700;

    }
    p{
      margin: 0 auto;
      padding:0 16px;
      font-size: 18px;
      font-weight: 400;
      color: #686868;
      max-width: 386px;
    }
  }



}

