div{
  background: linear-gradient(135deg,#3e7485, #00acac);
  color: #ffffff;
  display: flex;
  border-radius:15px ;
  position: relative;
  padding: 0 5px;
  box-shadow: 0 0 10px 2px rgba(0,0,0,0.25);

  h2{
    font-size: 30px;
    word-break: break-word;
    margin: 25px 0;
    padding-left: 8px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  }
  img{
    position: absolute;
    width: 34px;
    height: auto;
    margin: 12px 4px;
    top: 0;
    right: 5px;
    z-index: 2211;
  }
}
