<ion-header class="ion-no-border">

  <ion-text color="light" >
    <h3>Rellene los siguientes
      datos</h3>
  </ion-text>
</ion-header>
<ion-fab vertical="top" horizontal="center" slot="fixed" style="top: 110px">
  <ion-fab-button color="gradient" (click)="goback()">
    <ion-icon name="chevron-back-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
<ion-fab vertical="bottom" horizontal="center" slot="fixed" style="bottom: 70px;">
  <ion-fab-button color="gradient2" (click)="gofront()" style="height: 80px; width: 80px;">
    <ion-icon name="chevron-forward-outline" ></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-label position="fixed">¿Qué desayunas habitualmente?</ion-label>
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="12">
        <ion-label position="fixed">¿Qué almuerzas habitualmente?</ion-label>
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="12">
        <ion-label position="fixed">¿Qué meriendas habitualmente?</ion-label>
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="12">
        <ion-label position="fixed">¿Qué cenas habitualmente?</ion-label>
        <ion-input type="text"></ion-input>
      </ion-col>

    </ion-row>
  </ion-grid>

  <p>¿Consumes frutas y verduras?</p>
  <div class="medicin">
    <div class="take-medicin-yes">
      <ion-checkbox></ion-checkbox>
      <ion-label>SI</ion-label>
    </div>
    <div class="take-medicin-no">
      <ion-checkbox></ion-checkbox>
      <ion-label>NO</ion-label>
    </div>
    <div class="take-medicin-no">
      <ion-checkbox></ion-checkbox>
      <ion-label>Espóradico</ion-label>
    </div>
  </div>

</ion-content>

<ion-footer class="ion-no-border">
  <ion-grid  class="ion-text-center">
    <ion-row>
      <ion-col >
        <ion-icon color="light" name="ellipse-outline"></ion-icon>
        <ion-icon color="light" name="ellipse-outline"></ion-icon>
        <ion-icon color="light" name="ellipse-outline"></ion-icon>
        <ion-icon color="light" name="ellipse"></ion-icon>
        <ion-icon color="light" name="ellipse-outline"></ion-icon>
        <ion-icon color="light" name="ellipse-outline"></ion-icon>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-footer>
