ion-content{
  --padding-start: 9px;
  --padding-end: 9px;
}

button.close-btn{
  width: 37px;
  height: 37px;
  background: #00acac;
  position: relative;
  left: calc( 50% - 18.5px );
  color: #ffffff;
  margin-top: 50px;
  margin-bottom: 40px;
  padding: 0;

  border-radius: 50%;
  &:focus{
    outline: 0;
    border: 0;
  }
  ion-icon{
    font-size: 35px;
    line-height: 37px;
  }
}

ion-list.search-input{
  padding: 0 16px ;
  ion-item{
    --min-height:22px;
    --padding-start: 0!important;
    border-bottom: 1px solid #000000;
    .item-native {
    }
    ion-label{
      margin: 0 10px 0 0;
    }
    ion-input{
      border: none!important;
      --color: #000;
      border-radius: 0 !important;
      --padding-start:0;
      --padding-end:0;
      --padding-top:0;
      --padding-bottom:6px;
      --placeholder-color: #3b3a3a;
      font-weight: 700;
      outline: 0;
      .native-input:focus{
        outline: 0;
      }
    }
    ion-icon{
      font-size: 20px;
    }
  }
}

.recepies-resualt{
  padding: 20px 0 10px;
  .recepies-card{
    position: relative;
    img{
      border-radius: 23px;
      box-shadow: 0 0 10px 2px rgba(0,0,0,0.7);
    }
    &:after{
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      background: linear-gradient(to top, rgba(0,0,0,.7), rgba(0,0,0,.4), rgba(0,0,0,.1));
      left: 0;
      bottom: 0;
      border-radius: 23px !important;
    }
    .recepies-card-body{
      position: absolute;
      width: 100%;
      color: #f2f2f2;
      max-height: 100%;
      left: 0;
      bottom: 0;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      padding: 20px 20px 10px;
      z-index: 99;
      .left{
        .time{
          display: flex;
          align-items: center;
          img{
            width: 22px;
          }
          span{
            margin-left: 10px;
            color: #00ff48;
            font-size: 10px;
            font-family: 'Montserrat', sans-serif;
            strong{
              font-size: 16px;
            }
          }
        }
        h2{
          font-size: 36px;
          text-transform: capitalize;
          margin: 0;
          font-weight: bold;
          line-height: 1;

          span{
            font-size: 24px;

          }
        }

      }
      .right{
        display: flex;
        align-items: center;
        ion-icon{

          font-size: 26px;
        }
        span{
          padding-left: 8px;
          font-family: 'Montserrat', sans-serif;
          font-weight: bold;
          font-size: 18px;
        }
      }
    }

  }
}


.food-group{
  margin:0 5px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: stretch;


  .button-wraper{
    width: 25%;
    padding: 8px 12.5px;
  }
  button{
    padding: 12px;
    border-radius: 8px;
    background: #ffffff;
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
    &:focus{
      outline: 0;
      border: 0;
    }

    img{
      width: 100%;
    }
  }
}
.recommended-food-group{
  border-top: 1px solid #000000;
  margin:0 18px;
  padding: 18px 0 50px;
  display: flex;
  flex-direction: column;

  .recommended-item{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-bottom: 8px;
    .button-wraper{
      width: 25%;
      padding-right: 12.5px;
    }
  }
  button{
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    background: #ffffff;
    box-shadow: 0 0 8px rgba(0,0,0,0.25);

    &:focus{
      outline: 0;
      border: 0;
    }

  }
  .recommended-text{
    width: 75%;
    h3{
      display: flex;
      align-items: center;
      font-weight: bold;
      font-size: 16px;
      margin: 0 0 5px;
      ion-icon{
        margin-left: 16px;
      }
      span{
        padding-left: 8px;
        font-family: 'Montserrat', sans-serif;
        //font-weight: bold;
        font-size: 9px;
      }
    }
    p{
      font-size: 6px;
      margin: 0 0 12px 0;
    }
  }
}




