
<ion-content>

  <button (click)="dismiss()" class="close-btn">
    <ion-icon name="close"></ion-icon>
  </button>

  <ion-list lines="full" class="ion-margin-top search-input">
    <ion-item>
      <ion-label><ion-icon name="search" ></ion-icon></ion-label>
      <ion-input placeholder="Escriba aqui para buscar"></ion-input>
    </ion-item>
  </ion-list>
  <div class="recepies-resualt">
    <ion-grid>
      <ion-row>
        <ion-col size="12" class="ion-padding-horizontal">
          <div class="recepies-card">
            <img src="assets/recepies/recepie2.png" alt="">
            <div class="recepies-card-body">
              <div class="left">
                <div class="time">
                  <img src="assets/icon/clock.png" alt="clock"/>
                  <span><strong>20</strong>mins</span>
                </div>
                <h3>Ensalada</h3>
                <h2>Pepito</h2>
              </div>
              <div class="right">
                <ion-icon name="star" size="large" color="warning"></ion-icon>
                <span>9.1</span>
              </div>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="food-group">
    <button class="button-food">
      <img src="assets/icon/egg.png" alt="">
    </button>
    <button class="button-food">

      <img src="assets/icon/chicken-leg.png " alt="">
    </button>
    <button class="button-food">
      <img src="assets/icon/fish.png" alt="">
    </button>
    <button class="button-food">
      <img src="assets/icon/pasta.png" alt="">
    </button>
    <button class="button-food">
      <img src="assets/icon/meat.png" alt="">
    </button>
    <button class="button-food">
      <img src="assets/icon/vegitable.png" alt="">
    </button>
    <button class="button-food">
      <img src="assets/icon/cake.png" alt="">
    </button>
    <button class="button-food">
      <img src="assets/icon/smoothie.png" alt="">
    </button>
  </div>
  <div class="recommended-food-group">
    <div class="recommended-item">
      <button class="button-food">
        <img src="assets/icon/egg.png" alt="">
      </button>
      <div class="recommended-text">
        <h3>Receta recomendada <ion-icon name="star" size="" color="warning"></ion-icon>
          <span>9.1</span></h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua. Quis ipsum suspendisse ultrices
          gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
      </div>

    </div>
    <div class="recommended-item">
      <button class="button-food">
        <img src="assets/icon/chicken-leg.png " alt="">
      </button>
      <div class="recommended-text">
        <h3>Receta recomendada <ion-icon name="star" size="" color="warning"></ion-icon>
          <span>9.1</span></h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua. Quis ipsum suspendisse ultrices
          gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
      </div>
    </div>

    <div class="recommended-item">
      <button class="button-food">
        <img src="assets/icon/fish.png" alt="">
      </button>
      <div class="recommended-text">
        <h3>Receta recomendada <ion-icon name="star-outline" size="" color="warning"></ion-icon>
          <span>9.1</span></h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua. Quis ipsum suspendisse ultrices
          gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
      </div>
    </div>

    <div class="recommended-item">
      <button class="button-food">
        <img src="assets/icon/pasta.png" alt="">
      </button>
      <div class="recommended-text">
        <h3>Receta recomendada <ion-icon name="star" size="" color="warning"></ion-icon>
          <span>9.1</span></h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua. Quis ipsum suspendisse ultrices
          gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
      </div>
    </div>

    <div class="recommended-item">
      <button class="button-food">
        <img src="assets/icon/meat.png" alt="">
      </button>
      <div class="recommended-text">
        <h3>Receta recomendada <ion-icon name="star" size="" color="warning"></ion-icon>
          <span>9.1</span></h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua. Quis ipsum suspendisse ultrices
          gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
      </div>
    </div>
    <div class="recommended-item">
      <button class="button-food">
        <img src="assets/icon/vegitable.png" alt="">
      </button>
      <div class="recommended-text">
        <h3>Receta recomendada <ion-icon name="star" size="" color="warning"></ion-icon>
          <span>9.1</span></h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua. Quis ipsum suspendisse ultrices
          gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
      </div>
    </div>
    <div class="recommended-item">
      <button class="button-food">
        <img src="assets/icon/cake.png" alt="">
      </button>
      <div class="recommended-text">
        <h3>Receta recomendada <ion-icon name="star" size="" color="warning"></ion-icon>
          <span>9.1</span></h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua. Quis ipsum suspendisse ultrices
          gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
      </div>
    </div>

    <div class="recommended-item">
      <button class="button-food">
        <img src="assets/icon/smoothie.png" alt="">
      </button>
      <div class="recommended-text">
        <h3>Receta recomendada <ion-icon name="star" size="" color="warning"></ion-icon>
          <span>9.1</span></h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua. Quis ipsum suspendisse ultrices
          gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
      </div>
    </div>

  </div>
</ion-content>





