
div.wraper{
  background: #ee4a4e;
  color: #ffffff;
  display: flex;
  border-radius:15px ;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding: 5px ;
  div{

    h3{
      font-size: 22px;
      word-break: break-word;
      margin: 0 ;
      padding-left: 8px;
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;


    }
    p{
      margin: 0 !important;
      padding-left: 8px;
      padding-top: 4px;
      font-size: 14px;
      font-weight: 300;
    }
  }

  img{

    width: 40px;

    margin: 8px;

  }
}
