
ion-content {
  //--padding-start: 30px;
  //--padding-end: 30px;
  --padding-top: 40px;
  --padding-bottom: 60px;
  h2{
    font-family: 'Montserrat', sans-serif;
    //margin: 25px 0 20px;
    line-height: 1.8;
    font-weight: bold;
    font-size: 17.55px;
    text-align: center;
  }
  .medicin{
    display: flex;
    justify-content: center;
    div{
      display: flex;
      align-items: center;
      padding: 0 15px;
      ion-label{
        margin-left: 10px;
        font-size: 17.55px;
        font-weight: 300;
        font-family: 'Montserrat', sans-serif;

      }
    }

  }

  ion-list.reg-2{
  }
  ion-item{
    --padding-start:25px;
    --padding-end:20px;
    --min-height: 35px;

    ion-checkbox{
      margin: 0;
    }
    ion-input{
      padding-left: 15px;
      height: 32px;
    }
    ion-label{
      margin:0 10px;
      padding-left: 6.5px;
      display: flex;
      font-size: 17.55px;
      font-weight: 300;
      align-items: center;
      font-family: 'Montserrat', sans-serif;

    }
  }

}
ion-header{
  background: linear-gradient(to left, #00acac, #3f7486);
  height: 140px;
  border-radius:0 0 50px 50px;


  ion-text{
    h3{
      margin-top: 40px;
      font-size: 28px;
      text-align: center;
      font-weight: 300;
      padding: 0 15px;
      font-family: 'Montserrat', sans-serif;
    }


  }

}

ion-footer{
  background: linear-gradient(to left, #00acac, #3f7486);
  height: 110px;
  border-radius: 50px 50px 0 0;
  padding: 50px 0 0;

  ion-icon {
    font-size: 20px;
    padding: 0 2px
  }
}

ion-fab.bottom-fab {
  bottom: 70px;
  ion-fab-button{
    --box-shadow: none !important;
    transform: translateX(-12px);
    height: 80px; width: 80px;
    ion-icon {
      font-size: 62px !important;

    }
  }
}
ion-fab.top-fab {
  top: 119px;
  ion-fab-button{
    --box-shadow: none !important;
    transform: translateX(7px);
    height: 40px; width: 40px;
    ion-icon {
      font-size: 35px !important;

    }
  }
}
