<ion-slides pager="false" [options]="slideOpts">
  <ion-slide class="ion-padding">
    <div class="slide-wraper">
      <img src="assets/images/slide1with.png" alt="">
     <!-- <div class="slide-content">
        <h2> EJERCICO  </h2>
      </div>-->
    </div>
  </ion-slide>
  <ion-slide class="ion-padding" >
    <div class="slide-wraper">
      <img src="assets/images/slide2with.png" alt="">
      <!--<div class="slide-content">
        <h2>PROGRESO</h2>
      </div>-->
    </div>
  </ion-slide>
  <ion-slide class="ion-padding">
    <div class="slide-wraper">
      <img src="assets/images/slide2with.png" alt="">
      <!--<div class="slide-content">
        <h2> asdfas dfkfa</h2>
      </div>-->
    </div>
  </ion-slide>
</ion-slides>
