ion-content{

  .comeback{
    margin-top: 30%;
    img{

      width: 80%;
    }
    h1{
      font-family: 'Montserrat', sans-serif;
      font-weight: 300;
      font-size: 36px;
    }
    h3{
      font-family: 'Montserrat', sans-serif;
      font-weight: 300;
      font-size: 22px;
    }
  }
}









ion-footer{
  background: linear-gradient(to left, #3f7486, #00acac);
  height: 110px;
  border-radius: 0 50px 0 0;


  h2 {
    font-size: 30px;
    padding: 0 16px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
  }
}

ion-fab {
  ion-fab-button{
    --box-shadow: none !important;
    ion-icon {
      font-size: 60px !important;

    }
  }
}
