<ion-fab vertical="bottom" horizontal="end" slot="fixed" style="bottom: 95px; right: 70px">
  <ion-fab-button color="gradient2" (click)="gofront()" style="height: 80px; width: 80px;">
    <ion-icon name="chevron-forward-outline" ></ion-icon>
  </ion-fab-button>
</ion-fab>
<ion-content>

  <div class="center comeback">
    <img src="assets/images/comeback-image.png" alt="">
    <h1>Vuelve en 24hs </h1>
    <h3>Estamos preparando <br> tu plan</h3>
  </div>

</ion-content>


<ion-footer class="ion-no-border">
  <h2>Quiero <br>
    recorrer la App</h2>
</ion-footer>
