<ion-content>

  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="12">
        <div class="logo">
          <img src="/assets/images/login-logo.png" alt="">
        </div>
      </ion-col>
      <ion-col size="6" class="" style="padding-right: 5px">
        <div class="plan-content">
          <img src="assets/recepies/basicPlan.jpg" alt="basic plan">
          <div class="plan-details">
            <div class="plan-details-content">

              <h3>Plan</h3>
              <h2>Basico</h2>
              <p>Descripción</p>
              <p>Descripción</p>
              <p>Descripción</p>
            </div>
          </div>
          <div class="plan-price">
            <div class="plan-price-content">
              <P class="usd">USD</P>
              <h3 class="p-price">$9.99</h3>
              <p>MENSUALES</p>
              <ion-button color="mainbutton" (click)="presentModal()">Ver detalles</ion-button>
            </div>
          </div>
        </div>
      </ion-col>
      <ion-col size="6" style="padding-left: 5px">
        <div class="plan-content">
          <img src="assets/recepies/plusPlan.jpg" alt="plus plan">
          <div class="plan-details">
            <div class="plan-details-content">
              <h3>Plan</h3>
              <h2>Plus<span>+</span></h2>
              <p>Descripción</p>
              <p>Descripción</p>
              <p>Descripción</p>
            </div>
          </div>
          <div class="plan-price">
            <div class="plan-price-content">
              <P class="usd">USD</P>
              <h3 class="p-price">$29.99</h3>
              <p>MENSUALES</p>
              <ion-button  color="mainbutton">Ver detalles</ion-button>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
<ion-footer>
  <p class="center plans-footer">Iniciar Sesión</p>
</ion-footer>
