ion-toolbar {

  --padding-bottom: 50px;
  --padding-top: 50px;
  --padding-start: 8px;

  overflow: visible;

  ion-icon {
    font-size: 48px;
  }
  h2 {
    margin: 0 0 0 -12px;
    font-size: 28px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: capitalize;
  }

}
ion-list.centro {
  ion-item {
    --min-height: 80px !important;
  }
}
ion-list{
  padding-top: 0!important;
  padding-bottom: 0!important;
  border-top: 1px solid #868686;
  &:first-child{
    border-bottom: 1px solid #868686;

  }
  p{
    margin: 0;
    padding: 0 16px 16px;
    font-size: 12px;
    font-weight: 700;

  }
  ion-item{
    --min-height:70px;

    ion-label{
      font-weight: bold;
      font-size: 20px;
      font-family: 'Montserrat', sans-serif;
    }

  }
}

