.plan-modal{
  position: relative;
  z-index: 1;

  button.close-btn{
    position: absolute;
    top: -15px;
    right: -15px;
    width: 40px;
    height: 40px;
    background: #00acac;
    color: #ffffff;

    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 40px;
    z-index: 9999;
    border-radius: 20px;
    padding: 0;
    &:focus{
      outline: 0;
      border: 0;
    }
    ion-icon{
      font-size: 26px;
    }
  }
  h3{
    margin: 0;
    color: #000000;
    font-size: 48px;
    font-weight: bold;
    line-height: 1;

  }
  h2{
    margin: 0 0 20px;
    color: #000000;
    font-size: 56px;
    font-weight: bold;
    line-height: 1;

    span {
      color: #00acac;
    }
  }
  p{
    margin: 8px 0 16px;
    font-weight: bold;
    font-size: 18px;
  }

  ion-list{
    ion-item{
      --padding-start:0!important;
      --padding-bottom:15px;
      ion-icon {
        font-size: 24px;
        --ionicon-stroke-width: 54px;
      }

      p{
        padding-left: 18px;
        margin: 0;
        font-weight: 400;

      }

    }
  }
  .plan-price-content{
    text-align: center;
    margin-top: 20px;
    color: #119ca1;
    p.usd{
      font-size: 24px;
      margin:  0;
    }
    h3.p-price{
      font-size: 44px;
      font-weight: 700;
      margin: 0;
      line-height: 1.3;
      color: #119ca1;
    }
    P{
      margin: 0 4px ;
      font-size: 18px;
      font-weight: 300;

    }

    .mainbutton{
      margin-top: 10px;
      background: #00acac;
      color: #ffffff;
      padding: 15px 40px;
      font-size: 18px;
      border-radius: 12px;
      font-weight: 300;
      &:focus{
        outline: 0;
        border: 0;
      }
    }
  }
}

