
ion-content {

  ion-grid{
    padding: 0 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);


  }
  ion-col{
    margin-bottom: 20px;
    ion-label{
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      display: block;
      margin-bottom: 10px;
      width: 100%;
    }
    p{
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      display: block;
      margin: 0;
      margin-bottom: 10px;
      width: 100%;
    }

    ion-input{
      --padding-start: 10px;
      --placeholder-color: #767676;
      font-size: 13px;
    }
  }

  .gender-input{
    display: flex;
    //justify-content: space-around;
    border: 1px solid #00acac;
    border-radius: 5px;
    .gender-wraper{
      width: 33.33%;

      input:checked ~ label{
        background: #00acac;
        color: #f2f2f2;
      }
      &:first-child label{
        border-radius: 5px 0 0 5px;

      }
      &:last-child label{
        border-radius: 0 5px  5px 0;

      }
      input{
        width: 0;
        opacity: 0;
        position: absolute;
      }
      label{
        background: #ffffff;
        width: 100%;
        height: 100%;
        line-height: 42px;
        text-align: center;
        color: #00acac;
        display: block;
        border: 1px solid #00acac;
        font-weight: 300;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
      }
    }
  }
  ion-radio-group{
    ion-col{
      border-right: 1px solid #000;
    }
    
  }
}
ion-header{
  background: linear-gradient(to left, #00acac, #3f7486);
  height: 140px;
  border-radius:0 0 50px 50px;

    h3{
      margin-top: 45px;
      font-size: 28px;
      text-align: center;
      font-weight: 300;
      padding: 0 15px;
      font-family: 'Montserrat', sans-serif;
      color: #ffffff;
    }


}

ion-footer{
  background: linear-gradient(to left, #00acac, #3f7486);
  height: 110px;
  border-radius: 50px 50px 0 0;
  padding: 50px 0 0;

  ion-icon {
    font-size: 20px;
    padding: 0 2px
  }
}

ion-fab.bottom-fab {
  bottom: 70px;
  ion-fab-button{
    --box-shadow: none !important;
    transform: translateX(-12px);
    height: 80px; width: 80px;
    ion-icon {
      font-size: 62px !important;

    }
  }
}
