


<ion-content>
  <ion-fab vertical="top" horizontal="start" slot="fixed" style="top:30px">
    <ion-fab-button color="transpanent" (click)="goback()">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div class="login">
    <img src="assets/images/login-logo.png" alt="">
    <form action="" >
      <h1 class="center">¡Hola!</h1>
      <p class="ion-text-center">Accede a tu cuenta</p>
      <ion-grid class="ion-padding ion-margin">
        <ion-row>
          <ion-col size="12">
            <ion-input color="light" type="text" placeholder="Usuario"></ion-input>
          </ion-col>
          <ion-col size="12">
            <ion-input type="password" placeholder="Contraseña"></ion-input>
          </ion-col>
          <ion-col size="12">

            <ion-button class="login-button" (click)="login()" expand="block" color="logb" fill="solid">Iniciar Sesión</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p class="ion-text-center forget-passwprd">Olvidé mi contraseña</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>

</ion-content>

<ion-footer>
  <ion-grid  class="ion-padding-bottom ion-padding-horizontal ion-margin-horizontal">
    <ion-row>
      <ion-col>
        <ion-button color="mainbutton" expand="block" fill="solid" size="large">Tengo un código</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>

