ion-header {
  ion-toolbar {
    //--min-height:200px;
    --padding-bottom: 10px;
    --padding-top: 50px;
    --padding-start: 8px;
    --padding-end: 16px;
    .toolbar-container {
      align-items: baseline !important;
    }
    ion-buttons{

    }
    ion-button{
      padding: 0;
    }
    ion-icon{
      font-size: 46px;
    }
    h2 {
      font-size: 28px;
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      text-transform: capitalize;
      margin: 0 0 0 -5px;
    }

    ion-slide{
      div.center{
        margin: 20px 0 50px;
      }
      h3{
        font-size: 44px;
        margin: 0;
        font-weight: 300;
        font-family: 'Montserrat', sans-serif;
        padding-left: 10px;
        span{
          padding-left: 5px;
        }
      }
      p{
        margin: 0;
        font-weight: 300;
        font-family: 'Montserrat', sans-serif;
      }
    }
    }
  }

ion-content{
  --padding-bottom: 50px;
  --background: #fefefe;
  .plan-card{
    padding: 15px 0 10px;
    .plan-card-head{
      display: flex;
      justify-content: start;
      align-items: center;
      h3{
        padding-left: 8px ;
        font-size: 32px;
        font-weight: 600;
        font-family: 'Montserrat', sans-serif;
        color: #949494;
        margin: 0;
      }
    }
    .plan-card-body{
      margin-top: 8px;
      ion-list{
        ion-item{
          --padding-start: 0;
          --padding-bottom: 0;
          --padding-top: 0;
          --padding-end: 0;
          --min-height:24px;
          p{
            margin: 0!important;
            color: #949494;
            font-weight: normal;
          }
        }
      }
    }
  }
}



ion-footer{
  position: relative;
  border-width: 0;
  margin-bottom: 30px;
  box-shadow: 0 0 30px #ffffff ;

  &.footer-md::before {
    height: 0 !important;
  }
div{
  position: relative;
  &:before{
    position: absolute;
    content: '';
    height: 50px;
    width: 100%;
    top: -50px;
    left: 0;
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(254,254,254,0.7) 50%, rgba(255,255,255,0.2) 100%);
  }
  ion-icon{
    position: absolute;
    top: -13px;
    left: calc( 50% - 8.5px );
    height: 17px;
    width: 17px;
    color: #cf1f1f;

  }
}

  a{
    color:#02aaab;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    //text-decoration: underline;
    position: relative;
    text-underline-offset: 2px;
    text-decoration: underline;
    font-size: 10px;

  }
 }
