<ion-content>
  <ion-toolbar color="gradient2" class="ion-no-padding ">
    <ion-buttons class="ion-no-padding">
      <ion-button shape="round" class="ion-no-padding" (click)="goBack()">
        <ion-icon name="chevron-back"  ></ion-icon>
      </ion-button>
      <ion-title class="ion-no-padding" >Mi cuenta</ion-title>
    </ion-buttons>
  </ion-toolbar>


  <ion-list lines="none">
    <ion-item class="ion-align-items-center" >
      <p>Nombre completo</p>
    </ion-item>
    <ion-item>
      <ion-label>Valentina Diaz </ion-label>
      <ion-icon slot="end" color="dark" name="chevron-forward"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item class="ion-align-items-center" >
      <p>E-mail</p>
    </ion-item>
    <ion-item class="ion-align-items-center" >
      <ion-label>v.diaz@gmail.com</ion-label>
      <ion-icon slot="end" color="dark" name="chevron-forward"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item class="ion-align-items-center" >
      <p>Celular</p>
    </ion-item>
    <ion-item class="ion-align-items-center">
      <ion-label>097 213 105</ion-label>
      <ion-icon slot="end" color="dark" name="chevron-forward"></ion-icon>
    </ion-item>
  </ion-list>


</ion-content>
