ion-content{
  ion-toolbar{
    //--min-height:200px;
    --padding-bottom:100px;
    .toolbar-container {
      align-items: baseline !important;
    }
    ion-text{
      font-size: 22px;
      //--margin-bottom: 15px;
      p{
        margin-bottom: 8px;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
      }

    }
    ion-title{
        font-size: 28px;
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
    }
  }

  ion-grid{
    ion-row{
      ion-col{
        --ion-grid-column-padding:10px;
      }
    }
  }
}
