<ion-header class="ion-no-border">

  <h3>Rellene los siguientes datos</h3>

</ion-header>
<ion-fab class="top-fab" vertical="top" horizontal="center" slot="fixed">
  <ion-fab-button color="gradient" (click)="goback()">
    <ion-icon name="chevron-back-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
<ion-fab class="bottom-fab" vertical="bottom" horizontal="center" slot="fixed">
  <ion-fab-button color="gradient2" (click)="gofront()" >
    <ion-icon name="chevron-forward-outline" ></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-content class="">
  <div class="reg-5">

        <ion-text>
          <ion-label position="fixed">¿Tienes alimentos que no te gustan
            consumir?</ion-label>
          <ion-textarea></ion-textarea>
        </ion-text>


    <p>¿Consumes productos light, magros o descremados?</p>
    <div class="Consumes">
      <div class="take-medicin-yes">
        <ion-checkbox></ion-checkbox>
        <ion-label>SI</ion-label>
      </div>
      <div class="take-medicin-no">
        <ion-checkbox></ion-checkbox>
        <ion-label>NO</ion-label>
      </div>
    </div>
  </div>

</ion-content>

<ion-footer class="ion-no-border">
  <ion-grid  class="ion-text-center">
    <ion-row>
      <ion-col >
        <ion-icon color="light" name="ellipse-outline"></ion-icon>
        <ion-icon color="light" name="ellipse-outline"></ion-icon>
        <ion-icon color="light" name="ellipse-outline"></ion-icon>
        <ion-icon color="light" name="ellipse-outline"></ion-icon>
        <ion-icon color="light" name="ellipse"></ion-icon>
        <ion-icon color="light" name="ellipse-outline"></ion-icon>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-footer>
