
ion-content {
  --padding-start: 30px;
  --padding-end: 30px;
  --padding-top: 40px;
  --padding-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .reg-5{
    //height: 100%;
    margin: 45% 0;

  }

  ion-text{
    ion-label{
      font-family: 'Montserrat', sans-serif;
      //font-weight: bold;
      display: block;
      margin-bottom: 8px;
      font-size: 17.55px;
      width: 100%;
      max-width: 100%;
      text-align: center;
    }
  }
  ion-textarea{
    height: 85px;

  }
  p{
    font-family: 'Montserrat', sans-serif;
    //font-weight: bold;


    text-align: center;
    margin: 30px 0;
  }
  .Consumes{
    display: flex;
    justify-content: center;
    div{
      display: flex;
      align-items: center;
      padding: 0 15px;
      ion-label{
        margin-left: 10px;
        font-family: 'Montserrat', sans-serif;
      }
    }

  }
}
ion-header{
  background: linear-gradient(to left, #00acac, #3f7486);
  height: 140px;
  border-radius:0 0 50px 50px;


  ion-text{
    h3{
      margin-top: 40px;
      font-size: 28px;
      text-align: center;
      font-weight: 300;
      padding: 0 15px;
      font-family: 'Montserrat', sans-serif;
    }


  }

}

ion-footer{
  background: linear-gradient(to left, #00acac, #3f7486);
  height: 110px;
  border-radius: 50px 50px 0 0;
  padding: 50px 0 0;

  ion-icon {
    font-size: 20px;
    padding: 0 2px
  }
}

ion-fab.bottom-fab {
  bottom: 70px;
  ion-fab-button{
    --box-shadow: none !important;
    transform: translateX(-12px);
    height: 80px; width: 80px;
    ion-icon {
      font-size: 62px !important;

    }
  }
}
ion-fab.top-fab {
  top: 119px;
  ion-fab-button{
    --box-shadow: none !important;
    transform: translateX(7px);
    height: 40px; width: 40px;
    ion-icon {
      font-size: 35px !important;

    }
  }
}
