<div class="plan-modal">
  <button (click)="dismiss()" class="close-btn">
    <ion-icon name="close"></ion-icon>
  </button>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-padding">
        <h3>Plan</h3>
        <h2>Plus<span>+</span></h2>
        <p>Todo lo del plan básico más:</p>

        <ion-list lines="none" class="ion-padding-bottom">
          <ion-item class="ion-align-items-start">
            <ion-text >
              <ion-icon name="checkmark" color="mainbutton"></ion-icon>
            </ion-text>
            <ion-text>
              <p>I've got enough on my plate as it is, and I...got enough on my plate as it is, and I...</p>
            </ion-text>
          </ion-item>
          <ion-item class="ion-align-items-start">
            <ion-text >
              <ion-icon name="checkmark" color="mainbutton"></ion-icon>
            </ion-text>
            <ion-text>
              <p>I've got enough on my plate as it is, and I...got enough on my plate as it is, and I...</p>
            </ion-text>
          </ion-item>
          <ion-item class="ion-align-items-start">
            <ion-text>
              <ion-icon name="checkmark" color="mainbutton"></ion-icon>
            </ion-text>
            <ion-text>
              <p>I've got enough on my plate as it is, and I...got enough on my plate as it is, and I...</p>
            </ion-text>
          </ion-item>
        </ion-list>
        <div class="plan-price">
          <div class="plan-price-content">
            <P class="usd">USD</P>
            <h3 class="p-price">$29.99</h3>
            <p>MENSUALES</p>
            <button class="mainbutton" type="button">SUSCRIBETE</button>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</div>
