<ion-header>
  <ion-toolbar color="gradient2" >
    <ion-buttons >
      <ion-button shape="round" (click)="goBack()">
        <ion-icon name="chevron-back"></ion-icon>
      </ion-button>
      <h2 class="ion-no-padding" >Mi Ejercicio</h2>
    </ion-buttons>


    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide>
        <div class="center">
          <div>
            <h3>Lunes<span><ion-icon size="small" name="chevron-forward"></ion-icon></span></h3>
          </div>
          <p>23 Octubre</p>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="center">
          <div>
            <h3>Lunes<span><ion-icon size="small" name="chevron-forward"></ion-icon></span></h3>
          </div>
          <p>24 Octubre</p>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="center">
          <div>
            <h3>Lunes<span><ion-icon size="small" name="chevron-forward"></ion-icon></span></h3>
          </div>
          <p>25 Octubre</p>
        </div>
      </ion-slide>
    </ion-slides>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p color="dark" class="center">Prof: Laura Valverde</p>
  <div class="video">
    <iframe width="100%" height="300" src="https://www.youtube.com/embed/SMKPKGW083c" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
    <ion-grid>
      <ion-row>
        <ion-col size="12" class="">
          <div class="jercicio-card">
            <div class="jercicio-card-head">
              <img src="assets/mi-ej/miej1.png" alt="">
              <ion-checkbox checked></ion-checkbox>
            </div>
            <div class="jercicio-card-body">
              <h2>10</h2>
              <h3>Abdominales</h3>
            </div>
          </div>
        </ion-col>
        <ion-col size="12" class="">
          <div class="jercicio-card">
            <div class="jercicio-card-head">
              <ion-checkbox ></ion-checkbox>
              <img src="assets/mi-ej/miej2.png" alt="">
            </div>
            <div class="jercicio-card-body">
              <h2>15</h2>
              <h3>Sentadillas</h3>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

</ion-content>


<ion-footer>
  <div class="center">
    <ion-button color="shadowOverlay" class="shadow-overlay"></ion-button>
    <ion-icon name="alert-circle"></ion-icon>
    <a >Necesito ayuda</a>
  </div>
</ion-footer>
